.book .AppFormTable {
    width: 100%;
    padding: 0 5px;
    font-size: 11px;
    letter-spacing: 0.04em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border-collapse: collapse;
    border-radius: 5px;
}

    .book.AppFormTable th {
        font-size: 14px;
        font-weight: 500;
        color: white;
        padding: 10px;
        letter-spacing: 0.04em;        
        /* background: #00ab67;*/
        background-color: var(--bgPanelHead);
        /* border-top-left-radius: 5px;
	border-top-right-radius: 5px; */
        border-color: #F0F0F0;
    }

 .book   .AppFormTable .head {
        font-size: 12px;
        font-weight: bold;
        color: #000000;
        border: 0px solid #F0F0F0;
        letter-spacing: 0.04em;
        border-width: 1px 0 0 1px;
        padding: 5px;
        text-align: center;
    }

   .book .AppFormTable td {
        color: #000000;
        border: 1px solid #d0e1f1;
        padding: 10px;
        font-size: 14px ;
    }

 .book   .AppFormTable input {
        border: 1px solid #d9d9d9;
        font-size: 13px;
        height: 22px;
        padding: 12px;
        border-radius: 4px;
        color: #000000;
    }

        .AppFormTable input[type=checkbox] {
            vertical-align: middle;
        }

        .AppFormTable input[type=image] {
            vertical-align: middle;
            padding:0px !important;
        }

    .AppFormTable select {
        color: #000000;
        border: 1px solid #d9d9d9;
        font-size: 13px;
        height: 31px;
        padding: 3px;
        border-radius: 4px;
    }

.TextInput {
    border: 1px solid #CCCCCC;
    font-size: 13px;
    color: #000000;
}

select {
    font-size: 13px;
    font-family: 'poppins';
    text-decoration: none;
    color: #000000;
}

.ddList {
    font-size: 10px;
}
